<div class="container">
  <div class="d-flex justify-content-between pt-4">
    <div class="col-9">
      <p class="h1"> <%= current_user.name  %></p>
      <p class="user-point-style"> <%= current_user.points %> points</p>
    </div>
  </div>
  <div class="p-2 mb-5 user-trophies">

    <div class="achievements d-flex justify-content-between">
      <div class="col-4">
        <%= current_user.bronze == nil ? image_tag("medal (2)-grey.png", size: '80') : image_tag("medal (2).png", size: '80') %>
      </div>
      <div class="col-4">
        <%= current_user.silver == nil ? image_tag("medal (1)-grey.png", size: '80') : image_tag("medal (1).png", size: '80') %>
      </div>
      <div class="col-4">
        <%= current_user.gold == nil ? image_tag("medal-grey.png", size: '80') : image_tag("medal.png", size: '80') %>
      </div>
    </div>
  </div>
  <div class="latest-attempt">
    <% attempt = @attempts.first%>
    <%= render "dashboard_card", attempt: attempt %>
  </div>


  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Previous Cycles</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Race Friends</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="overflow-auto" style="height: 300px;">
        <% @attempts.each do |attempt| %>
          <%= render "dashboard_card", attempt: attempt %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="" id="leaderboard">
        <h2 class="mt-4 pb-3">Friend's Leaderboard</h2>
        <%= image_tag "add-friend-icon.png", alt: "alttext", class: "add-modal-button", data: { toggle: "modal", target: "#AddModal" } %>
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add friends</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body add-friend-modal">
                <%= simple_form_for :friend_form, url: add_friend_path, method: :get do |f| %>
                  <%= f.input :user_id, collection: User.pluck(:name, :id), label: false, placeholder: "Users" %>
                  <%= f.submit "Add", class: "add-friend-button" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <%= image_tag "delete-friend-icon.png", alt: "alttext", class: "delete-modal-button", data: { toggle: "modal", target: "#DeleteModal" }  %>
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete friends</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body delete-friend-modal">
                <%= simple_form_for :friend_form, url: delete_friend_path, method: :delete do |f| %>
                  <%= f.input :user_id, collection: User.pluck(:name, :id), label: false %>
                  <%= f.submit "Delete", class: "delete-friend-button" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% @iterator = 1 %>
        <% @sorted_friends.each do |name, points| %>
          <div class="row">
            <div class="col friend-row">
              <strong><%= @iterator %>. </strong><%= name %>
            </div>
            <div class="col friend-row">
              is on <span class="points"><%= points %>  </span>points
            </div>
          </div>
          <% @iterator += 1 %>
        <% end %>
      </div>
    </div>
  </div>

</div>
