<div class="navbar fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-home" do %>
    <%= image_tag "bicycle.png", class: "icon" %>
    <% end %>

  <%= link_to current_user ? edit_user_registration_path : new_user_session_path, class: "navbar-home rel" do %>
    <%= image_tag "man.png", class: "avatar user" %>
  <% end %>

  <%= link_to "#", class: "navbar-home" do %>
    <%= image_tag "paper-plane.png", class: "icon" %>
  <% end %>
</div>
