
<div class="container" id="home-main">
  <div class="row col-6">
      <div class="container" id="hero-text">
        <h1><strong>RideRiot</strong></h1>
        <h4>Explore.</h4>
        <h4>Cycle.</h4>
        <h4>Enjoy.</h4>
      </div>
      <div class="container" id="home-image-bicycle">
          <%= image_tag "bicycle.svg", height: 150, width: 150 %>
      </div>

      <%= simple_form_for :address_form, method: :get, url: cycle_routes_path do |f| %>
          <%= f.input :address, label: false, placeholder: "Enter Address" %>
        <div class="tags-container">
          <% @tags[0..1].each do |tag| %>
            <%= f.input tag.name, as: :boolean, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
          <% end %>
        </div>
        <div class="tags-container">
          <% @tags[2..3].each do |tag| %>
            <%= f.input tag.name, as: :boolean, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
          <% end %>
        </div>
          <%= f.submit "Find Routes", class: "btn btn-primary w-100" %>
      <% end %>

      <div class="container" id="home-image-iphone">
          <%= image_tag "iphone.svg", height: 75, width: 75 %>
      </div>
      <%= link_to current_user ? user_path(current_user) : new_user_session_path do %>
        <% if user_signed_in? && current_user.photo.attached? %>
          <%= cl_image_tag(current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar user") %>
        <% else %>
          <%= image_tag "man.png", class: "avatar user" %>
        <% end %>
      <% end %>
  </div>
</div>

