<div id="parent">
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-markers="<%=  @markers.to_json %>">
    <div class="container">
      <div class="fixed-bottom">
        <% if params[:complete] == "true" %>
          <button id="map-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Finish</button>
        <% else %>
          <%= link_to "Finish", finish_path(@attempt), class: "btn btn-primary", id: "map-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="instructions" class="li-element"></div>
</div>
<% if params[:complete] == "true" %>
  <script>
    document.addEventListener("turbolinks:load", () => {
      document.getElementById("map-btn").click()
    })
  </script>
<% end %>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Well Done!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Distance Cycled: <%= @cycle_route.total_distance %> mi</h5>
        <!-- On the next line: Minutes Sould be seconds (this was just for the demo) -->
        <h5 id="route-time">Time to complete route: <%= ((@attempt.end_time&.to_datetime - @attempt.start_time.to_datetime)*24*60*60).to_i if @attempt.end_time %> minutes</h5>
        <% current_user.badges.each_value do |info| %>
          <% next unless info[:time_earned] %>
          <% if info[:time_earned] > DateTime.now - 5.seconds %>
            <h5>You earned a new trophy!</h5>
            <ul>
              <li>  <%= cl_image_tag info[:cl_image] %>  </li>
              <li> <%= info[:desc] %> </li>
            </ul>
          <% end %>
        <% end %>
      </div>
      <div class="modal-footer justify-content-center">
        <%= link_to "Collect Rewards", user_path(current_user), method: :get, class: 'btn btn-primary', id: "btn-modal" %>
        <%= link_to "Write Review", new_cycle_route_review_path(@cycle_route), method: :get, class: 'btn', id: "btn-modal-2" %>

      </div>
    </div>
  </div>
</div>
