<div class="container">
  <% if @cycle_routes.empty? %>
    <h2>No routes found matching criteria</h2>
  <% end %>
  <% @cycle_routes.each do |cycle_route| %>
    <div class="cards">
      <a class="card-link" href="<%= cycle_route_path(cycle_route, address_form:{address: params.dig(:address_form,:address)}) %>">
        <div id="carousel<%=cycle_route.id%>" class="rel carousel slide" data-ride="carousel">
          <!-- if photos attached, add to carousel. -->
          <!-- Need to iterate over photos to create li's -->
          <ol class="carousel-indicators">
            <li data-target="#carousel<%=cycle_route.id%>" data-slide-to="0" class="active"></li>
            <li data-target="#carousel<%=cycle_route.id%>" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%=cl_image_tag (@seed_images[cycle_route.name]) %>
            </div>
            <div class="carousel-item">
              <%=cl_image_tag (cycle_route.map_image) %>
            </div>
          </div>
          <div class="name-banner-index">
            <h2 class="m-0 p-2"><%= cycle_route.name %></h2>
          </div>
        </div>
        <div class="cycle-route-infos d-flex justify-content-between p-1">
          <p><strong>Distance: <%= cycle_route.total_distance %> mi</strong></p>
          <div id="rating-container">
            <div class="row">
              <div class="col">
                <% if cycle_route.reviews.empty? %>
                  <% @rating = 0 %>
                  <% @blank_stars = 5 %>
                <% else %>
                  <% @rating = (cycle_route.reviews.sum(&:rating).to_f / cycle_route.reviews.length).round %>
                <% end %>
                <% @rating.times do |f| %>
                  <%= image_tag "star.png", class: "star-sml" %>
                <% end %>
                <% (5 - @rating).times do |f| %>
                  <%= image_tag "blank-star.png", class: "star-sml" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="cycle-route-tags align-items-center">
          <% if cycle_route.tags.empty? %>
            <p><strong>No tags for this route yet.</strong></p>
          <% end %>
          <!-- <p id="tag-title">Tags</p> -->
          <% cycle_route.tags.each do |tag| %>
            <p class="tag-display <%= tag.name.downcase %>"><%= tag.name %></p>
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
  <div class="spacer" style='height: 40px;'></div>
</div>
