  <div class="container">
  <div class="cards" style="text-align: center;">
    <div class="name-banner-index">
      <h5 class="m-0 p-2"> <%= @cycle_route.name %> </h2>
    </div>
    <div class="show-photo d-flex align-items-center justify-content-center" style='background-image: url("http://res.cloudinary.com/duae8ljpg/image/upload/v1/<%= @cycle_route.map_image %>"); height: 200px; background-size: cover;'>
    </div>
      <div class="d-flex justify-content-between p-3">
        <div class="col-xs-8">
          <h5 class="mb-0">Distance: <%= @cycle_route.total_distance %> mi</h5>
        </div>
        <div class="col-xs-4">
          <% if @reviews.present? %>
            <div id="rating-container">
              <div class="row">
                <div class="col">
                  <% @rating.times do |f| %>
                    <%= cl_image_tag "rideriot/goldStar_iwoh7m.png", class: "star-sml" %>
                  <% end %>
                  <% @blank_stars.times do |f| %>
                    <%= cl_image_tag "rideriot/blankGoldStar_irgxik.png", class: "star-sml" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <!-- TODO - add tags in pill form, make our reddish color -->
    <div class="container">
      <p><%= @cycle_route.description %></p>
    </div>
    <div class="container">
      <div class="row justify-content-center mb-3 py-3">

        <%= link_to "Start Route", cycle_route_attempts_path(@cycle_route), method: :post, class: 'btn btn-primary mr-2 cust-width', id: "btn-modal" %>

        <%= link_to "Back", cycle_routes_path(address_form:{address: params.dig(:address_form,:address)}), class: 'btn btn-outline-primary ml-2 cust-width', id: "btn-modal-2" %>
      </div>
    </div>
  </div>

  <% if @reviews.present? %>
    <div class="cards">
      <h4 class="reviews-header my-4">Reviews</h4>
      <% @reviews.each do |review| %>
        <p class="mb-0 mt-2"><strong><%= review.user.name %> says:</strong></p>
        <p class="mt-0 mb-0">"<%= review.comment %>"</p>
        <div class="mb-4">
          <% review.rating.times do |f| %>
            <%= cl_image_tag "rideriot/goldStar_iwoh7m.png", class: "star-sml" %>
          <% end %>
          <% @num = 5 - review.rating %>
          <% @num.times do |f| %>
            <%= cl_image_tag "rideriot/blankGoldStar_irgxik.png", class: "star-sml" %>
          <% end %>
        </div>
      <% end %>
      <!-- Button to review -->
      <%= link_to "Write a Review", new_cycle_route_review_path(params[:id]), class: 'btn btn-primary mr-2 cust-width mb-5' %>

    </div>
    <% else %>
    <div class="cards">
      <h2 class="my-4">Be the first to review</h2>
      <%= link_to "Write a Review", new_cycle_route_review_path(params[:id]), class: 'btn btn-primary mr-2 cust-width mb-5' %>

    </div>
  <% end %>
</div>
